<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <title> Travel App </title>
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap"
      rel="stylesheet"/>


    <body>

        <header>
            <div class="">
                
            </div>
            <h1> Plan Your Vacation </h1>
            <div class="">
            </div>
            
        </header>
    

        <main>

          <section> 
            <div id="countdownclock">
                <div>
                  <span class="days"></span>
                  <div class="smalltext">Days</div>
                </div>
                <div>
                  <span class="hours"></span>
                  <div class="smalltext">Hours</div>
                </div>
                <div>
                  <span class="minutes"></span>
                  <div class="smalltext">Minutes</div>
                </div>
                <div>
                  <span class="seconds"></span>
                  <div class="smalltext">Seconds</div>
                </div>
            
        </section>

        
            <section>
                  <form class="" onsubmit="return Client.geonameData(event)">
                 <p> City </p>  <input type="text" id="city" placeholder="City" aria-label="City" >
                 <p>Start Date</p>  <input type="date" id="start_date" aria-label="Start Date"> 
                <p> End Date</p>  <input type="date" id="end_date" aria-label="End Date"> 
                  <button class="btn" type="button" id="button_submit">Add Trip</button>


                </form>
            </section>

            <section id="result-box">
              <div class="text-center"><strong> <h2>My trips </h2></strong></div>
              <div id="results">
              </div>
          </section>


        </main>

        <footer>
            <p> ©Copyright 2021. Issa inc.</p>
        </footer>
        

        <script>
          // Check that service workers are supported
          if ('serviceWorker' in navigator) {
              // Use the window load event to keep the page load performant
              window.addEventListener('load', () => {
                  navigator.serviceWorker.register('/service-worker.js');
              });
          }
         </script>

         
    </body>

    
</html>

